*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;  
}

header.navbar-container {
    width: 100%;
    padding-block: 1rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    /* background-color: rgb(180, 180, 180); */

    z-index: 9999;
}

header.navbar-container .navbar ul {
    padding-left: 0;

    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2rem;
    
}

header.navbar-container .navbar li {
    list-style: none;
}

header.navbar-container .navbar li a {
    padding: 0.5rem 1rem;
    border-radius: 999px;

    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    
    transition: all 0.2s ease-in-out;
}

header.navbar-container .navbar li:hover a {
    background-color: #bb81c7;
    color: white;
}

main { 
    display: grid;
    grid-template-columns: 1fr auto; /* 1 fraksi untuk konten utama, auto untuk aside */
}

#sinopsis img {
    width: 250px;
    border-radius: 10px;
}

#sinopsis p {
    max-width: 95%;
    margin-bottom: 20px;
}

.sidebar {
    width: 300px; 
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;
  }
  
  /* Gaya untuk teks dalam sidebar */
.sidebar h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
    background-color: #bb81c7;
    color: #333;
    padding: 8px;
    border-radius: 5px;
}

.sidebar img {
    width: 200px;
    border-radius: 10px;
}
  
.sidebar h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #bb81c7;
}
  
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.sidebar ul li {
    margin-bottom: 5px;
    color: #666;
}
  
.sidebar p {
    line-height: 1.5;
    color: #777;
}
  
.side {
    display: flex;
    gap: 15px;
}

.sidebar h4, ul, p {
    margin: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
    margin: 30px;
}

.card p {
    text-align: justify;
}

h1 {
    color: #bb81c7;
    text-align: center;
}

.bio {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.bio img {
    width: 300px;
    border-radius: 10px;
}

.bio p{
    max-width: 70%;
}

footer {
    margin-top: 40px;
    padding: 30px;
    color: white;
    background-color: #bb81c7;

    text-align: center;
    font-weight: bold;
}

/* Gaya untuk ukuran layar yang lebih kecil (misalnya: layar < 768px) */
@media screen and (max-width: 768px) {
    main {
      grid-template-columns: 1fr;
    }
  
    .card,
    .sidebar {
      margin: 15px; 
    }

    #sinopsis p {
        text-align: center;
    }
  
    .bio {
      flex-direction: column; 
      align-items: center;
    }
  
    .bio img {
      width: 100%; 
      max-width: 300px; 
    }
  
    .bio p {
      max-width: 100%;
      text-align: center; 
    }
  
    .sidebar {
      width: calc(100% - 30px);
      padding: 20px; 
      margin: 15px auto; 
    }
  
    .sidebar h2 {
      font-size: 1.3em; 
    }
  }